[default]
FileStorePath=./store
FileLogPath=./logs
ConnectionType=acceptor
HeartBtInt=30
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=N
# DataDictionary=FIX44.xml
SocketAcceptPort=9878

[session]
BeginString=FIX.4.4
SenderCompID=SIMULATOR
TargetCompID=OMS_CLIENT